body {
    background-color:#90c9bf;
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

div {
    width: 100%;

}

img {
    width: 11em;
}

